
*{
    box-sizing: border-box;

}
#logo{

}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    background-color: #ffffff;
    }

#grid-container{
    display: grid;
    grid-template-areas: "header" "main" "footer";
}

header nav div{
    display: flex;
    gap: 1rem;
}
.header-icons {
    display: flex;
    gap: 1px; 
}

#category-box{
    margin-top: 15px;
  margin-bottom: 15px;
}

#felx-container-forside{
    text-align: left;
}

#navbar{
    margin-top: 10px;
  margin-bottom: 10px;
}

#filtre{
    margin-top:60px;
    margin-bottom: 10px;
    color:#E7CECE;
    background-color: #BB8282;
}

.image-gallery {
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: auto; 
}

.image-gallery-top img{
  
    max-width: 40%;
    margin-right: 10px;
}


.produktbilder{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

   
}

.produktbilder2{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
   


}

.fa-solid.fa-cart-shopping{
    --fa-display:block;
    text-align: right;
}

.Kundemedlemforside{
    text-align: center;
   

}

header{
    text-align:center;
    background-size: cover;
    background-color: #ffffff;
    display: flex;
    position: relative;
}


.black-btn{
    display: inline-block;
    padding: 0.5rem;
    text-decoration: none;
    background-color: #BB8181;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-weight: 400;
    padding-bottom: 20px;
    
}
    

main{
    text-align: center;
}


article{
    text-align:center;
    align-items: baseline;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    
}


h1{
    front-size: 2rem;
    color: #BB8282;
    text-align: center;

}

h2{
    front-size: 1.8rem;
    color:#E7CECE;
    background-color: #BB8282;
}
   

h3{
    color:black;
    background-color: #BB8282;
    padding-top: 25px;
    padding-bottom: 25px;

}

h4{
    front-size: 1.4rem;
    margin: 15px;
}
h5{
    background-color: #BB8282;
    border-left-style: solid;
    border-right-style: solid;
    border-right-width: 200px;
    padding-bottom: 20px;
    border-top-style: solid;
    border-top-width: 20px;
    color: #ffffff;
    padding: 30px;
    margin-left: 5px;
    margin-bottom: 20px;
    
  }



#subscribe{
    background-color: #fff;
    padding: 1rem;
    text-align: center;
}

#subscribe form label, #subscribe form input{
    display: block;
    margin: 0 auto;

}



.content-section {
    background-color: #BB8282; 
    padding: 20px; 
    text-align: center; 
    margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
}

.content-section h3 {
    color: black; 
}



#flex-container-forside {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    padding: 10px; 
}


footer { 
    list-style: none;
    padding: 0.5rem;
    margin: 0;
    text-align:left;
    background-color: #E7CECE;
    margin-top: 50px;

}

nav a{
    text-decoration: none;
    color: #000;
    padding: 1rem;
    display: inline-block;

}


.default-flex h2{
    flex-basis:100%;

}

.default-flex article{
    flex-basis: 33%;
    min-width: 300px;

}

.default-flex article img{
    width: 100%;
}





@media only screen and (min-width: 800px) {

    #grid-container
    
    .header-icons {
    font-size: 20px;
    gap: 2rem;
   
}

.fa-bars{
    font-size: 40px;

}


.Kundemedlemforside {
    margin-left: 160px;
}

.Kundemedlemforside {
margin-right: 200px;
}

.content-section{
    margin-top: 0px;
  margin-left: 500px;
  margin-right: 500px;
  margin-bottom: 30px;

}

}


